<nav class="mx-auto" role="navigation" aria-label="Main">
  <div class="flex justify-center py-10 bg-white">
    {% set firstSegment = craft.app.request.getSegment(1) %}
    <ul class="flex mx-auto">
      <li class="mx-6">
        <a class="font-bold tracking-widest text-blue-600 text-2xl {{ firstSegment == '' ? 'border-b border-blue-400' }}" href="{{ siteUrl }}">Home</a>
      </li>
      <li class="mx-6">
        <a class="font-bold tracking-widest text-blue-600 text-2xl {{ firstSegment == 'blog' ? 'border-b border-blue-400' }}" href="{{ url('blog') }}">Blog</a>
      </li>
      <li class="mx-6">
        <a class="font-bold tracking-widest text-blue-600 text-2xl {{ firstSegment == 'about' ? 'border-b border-blue-400' }}" href="{{ url('about') }}">About</a>
      </li>
    </ul>
  </div>

</nav>
